<!DOCTYPE html>
<head>
    <title>date</title>
</head>
<body>
    <form method="POST">
        <label>Enter your age like this DD-MM-YY :</label>
        <input type="text" name="b_date"></input>
        <button type="submit" > Give </button>
    </form>
    {%if age is not none   %}
        <p>you are {{age}} years old !</p>
        {%if k is not none or day is not none%}
            <p>{{k}}</p>
            {%if i is not none and i%}
            <p>{{i}}</p>
            {%endif%}
            {%if day is not none%}
            <p>You have {{day}} days to left </p>
            {%endif%}
        {%endif%}
    {%endif%}    
</body>